/* manrope-regular - latin */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/manrope-v13-latin-regular.woff2") format("woff2"), url("/fonts/manrope-v13-latin-regular.woff") format("woff");
}
